<!-- 3 third -->
<section id="section_3" class="third section">
    <div class="container">

        <div class="third__subtitle" data-aos="fade-up" data-aos-delay="100">
            <span>Посмотрите примеры видео</span>
        </div>

        <div data-tabs class="third__video">
            <nav data-tabs-titles class="third__video_cards">

                <button type="button" data-fancybox data-src="https://youtu.be/V5u4wzCpdiw" class="third__video_card _tab-active" data-aos="fade-right" data-aos-delay="100">
                    <picture>
                        <source srcset="assets/img/section-3/1.webp" type="image/webp">
                        <img loading="lazy" class="third__video_card_img lazyload" data-src="assets/img/section-3/1.png" alt="images">
                    </picture>
                    <div class="third__video_card_content">
                        <span class="third__video_card_content_text">Передняя камера днем</span>
                        <img class="third__video_card_content_icon lazyload" data-src="assets/img/section-3/play.svg" alt="images">
                    </div>
                </button>

                <button type="button" data-fancybox data-src="https://youtu.be/YfYgnHy06Ls" class="third__video_card" data-aos="fade-right" data-aos-delay="100">
                    <picture>
                        <source srcset="assets/img/section-3/2.webp" type="image/webp">
                        <img loading="lazy" class="third__video_card_img lazyload" data-src="assets/img/section-3/2.png" alt="images">
                    </picture>
                    <div class="third__video_card_content">
                        <span class="third__video_card_content_text">Передняя камера ночью</span>
                        <img class="third__video_card_content_icon lazyload" data-src="assets/img/section-3/play.svg" alt="images">
                    </div>
                </button>

                <button type="button" data-fancybox data-src="https://youtu.be/VkI6l3Ecp-4" class="third__video_card" data-aos="fade-right" data-aos-delay="100">
                    <picture>
                        <source srcset="assets/img/section-3/3.webp" type="image/webp">
                        <img loading="lazy" class="third__video_card_img lazyload" data-src="assets/img/section-3/3.png" alt="images">
                    </picture>
                    <div class="third__video_card_content">
                        <span class="third__video_card_content_text">Задняя камера днем</span>
                        <img class="third__video_card_content_icon lazyload" data-src="assets/img/section-3/play.svg" alt="images">
                    </div>
                </button>

                <button type="button" data-fancybox data-src="https://youtu.be/76GOM_Zhxnw" class="third__video_card" data-aos="fade-right" data-aos-delay="100">
                    <picture>
                        <source srcset="assets/img/section-3/4.webp" type="image/webp">
                        <img loading="lazy" class="third__video_card_img lazyload" data-src="assets/img/section-3/4.png" alt="images">
                    </picture>
                    <div class="third__video_card_content">
                        <span class="third__video_card_content_text">Задняя камера ночью</span>
                        <img class="third__video_card_content_icon lazyload" data-src="assets/img/section-3/play.svg" alt="images">
                    </div>
                </button>

            </nav>

            <div data-tabs-body class="third__video_content" data-aos="fade-up" data-aos-delay="100">

                <div class="third__tabs-body">
                    <button data-fancybox data-src="https://youtu.be/V5u4wzCpdiw" class="main-screen">
                        <div class="main-screen__block">
                            <picture>
                                <source srcset="assets/img/section-3/1.webp" type="image/webp">
                                <img loading="lazy" class="main-screen__top lazyload" data-src="assets/img/section-3/1.png" alt="images">
                            </picture>
                            <div class="main-screen__play">
                                <img class="main-screen__icon lazyload" data-src="assets/img/icons/play.svg" alt="images">
                            </div>
                            <picture>
                                <source srcset="assets/img/screen.webp" type="image/webp">
                                <img loading="lazy" class="main-screen__bottom lazyload" data-src="assets/img/screen.png" alt="images">
                            </picture>
                        </div>
                    </button>
                </div>

                <div class="third__tabs-body">
                    <button data-fancybox data-src="https://youtu.be/YfYgnHy06Ls" class="main-screen">
                        <div class="main-screen__block">
                            <picture>
                                <source srcset="assets/img/section-3/2.webp" type="image/webp">
                                <img loading="lazy" class="main-screen__top lazyload" data-src="assets/img/section-3/2.png" alt="images">
                            </picture>
                            <div class="main-screen__play">
                                <img class="main-screen__icon lazyload" data-src="assets/img/icons/play.svg" alt="images">
                            </div>
                            <picture>
                                <source srcset="assets/img/screen.webp" type="image/webp">
                                <img loading="lazy" class="main-screen__bottom lazyload" data-src="assets/img/screen.png" alt="images">
                            </picture>
                        </div>
                    </button>
                </div>

                <div class="third__tabs-body">
                    <button data-fancybox data-src="https://youtu.be/VkI6l3Ecp-4" class="main-screen">
                        <div class="main-screen__block">
                            <picture>
                                <source srcset="assets/img/section-3/3.webp" type="image/webp">
                                <img loading="lazy" class="main-screen__top lazyload" data-src="assets/img/section-3/3.png" alt="images">
                            </picture>
                            <div class="main-screen__play">
                                <img class="main-screen__icon lazyload" data-src="assets/img/icons/play.svg" alt="images">
                            </div>
                            <picture>
                                <source srcset="assets/img/screen.webp" type="image/webp">
                                <img loading="lazy" class="main-screen__bottom lazyload" data-src="assets/img/screen.png" alt="images">
                            </picture>
                        </div>
                    </button>
                </div>

                <div class="third__tabs-body">
                    <button data-fancybox data-src="https://youtu.be/76GOM_Zhxnw" class="main-screen">
                        <div class="main-screen__block">
                            <picture>
                                <source srcset="assets/img/section-3/4.webp" type="image/webp">
                                <img loading="lazy" class="main-screen__top lazyload" data-src="assets/img/section-3/4.png" alt="images">
                            </picture>
                            <div class="main-screen__play">
                                <img class="main-screen__icon lazyload" data-src="assets/img/icons/play.svg" alt="images">
                            </div>
                            <picture>
                                <source srcset="assets/img/screen.webp" type="image/webp">
                                <img loading="lazy" class="main-screen__bottom lazyload" data-src="assets/img/screen.png" alt="images">
                            </picture>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="third__image">
            <div class="third__image_title" data-aos="fade-in" data-aos-delay="100">
                <span>Широкий угол обзора 320°</span>
                <span class="third__image_title_small">(с учетом задней камеры)</span>
            </div>
            <div class="third__image_subtitle" data-aos="fade-in" data-aos-delay="100">
                позволит заснять <span class="main-color">все происходящее на дороге</span>
            </div>
            <div class="main-screen mt-4" data-aos="fade-in" data-aos-delay="100">
                <div class="main-screen__block">
                    <picture>
                        <source srcset="assets/img/screen.webp" type="image/webp">
                        <img loading="lazy" class="main-screen__bottom lazyload" data-src="assets/img/screen.png" alt="images">
                    </picture>
                    <picture>
                        <source srcset="assets/img/section-3/image.webp" type="image/webp">
                        <img loading="lazy" class="main-screen__top lazyload" data-src="assets/img/section-3/image.png" alt="images">
                    </picture>
                </div>
            </div>
            <div class="third__bg neon-glow__blur-300" data-aos="fade-in" data-aos-delay="100"></div>
            <div class="third__bg-2 neon-glow__blur-300-width" data-aos="fade-in" data-aos-delay="100"></div>
            <div class="third__bg-3 neon-glow__blur-300-width" data-aos="fade-in" data-aos-delay="100"></div>
            <div class="third__bg-4 neon-glow__blur-300-width" data-aos="fade-in" data-aos-delay="100"></div>
        </div>

        <div class="third__sd">
            <div class="third__sd_left">
                <div class="third__sd_title" data-aos="fade-in" data-aos-delay="100">Сохраняет все данные о поездке в реальном времени через GPS</div>
                <div class="third__sd_img" data-aos="fade-in" data-aos-delay="100">
                    <picture>
                        <source srcset="assets/img/section-3/sd-img.webp" type="image/webp">
                        <img loading="lazy" class="lazyload" data-src="assets/img/section-3/sd-img.png" alt="images">
                    </picture>
                </div>
            </div>
            <div class="third__sd_right">
                <div class="third__sd_card">
                    <div class="third__sd_card_title" data-aos="fade-in" data-aos-delay="100">
                        Поддерживает карты формата <b>MicroSD</b> до <b>64 Gb</b> UHS-1
                    </div>
                    <div class="third__sd_card_subtitle" data-aos="fade-in" data-aos-delay="100">
                        <span class="third__sd_card_value">до <span class="main-color">720 минут</span></span>
                        <br>
                        <span class="third__sd_card_small">непрерывной записи видео</span>
                    </div>
                    <div class="third__sd_card_block" data-aos="fade-in" data-aos-delay="100">
                        <div class="third__sd_card_8">
                            <img class="third__sd_card_8_img lazyload" data-src="assets/img/section-3/8gb.svg" alt="images">
                            <span class="third__sd_card_text">25 минут</span>
                        </div>
                        <div class="third__sd_card_32">
                            <img class="third__sd_card_32_img lazyload" data-src="assets/img/section-3/32gb.svg" alt="images">
                            <span class="third__sd_card_text">120 минут</span>
                        </div>
                        <div class="third__sd_card_64">
                            <img class="third__sd_card_64_img lazyload" data-src="assets/img/section-3/64gb.svg" alt="images">
                            <span class="third__sd_card_text_white">до <b>720 минут</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>