<!-- 1 first -->
<section id="section_1" class="first section">
    <div class="container">

        <div class="first__about" data-aos="fade-in" data-aos-delay="100">
            <div class="first__about_card">
                <div class="first__about_title">1 200</div>
                <div class="first__about_text">положительных отзывов</div>
            </div>
            <div class="first__about_card">
                <div class="first__about_title">5 <img class="first__about_card_icon lazyload" data-src="assets/img/icons/star.svg" alt="images"></div>
                <div class="first__about_text">В рейтинге на Яндекс <br> Маркете</div>
            </div>
            <div class="first__about_card">
                <div class="first__about_title">DRIVE2</div>
                <div class="first__about_text">рекомендует</div>
            </div>
            <div class="first__about_card">
                <div class="first__about_title">10 000</div>
                <div class="first__about_text">видеорегистраторов <br> продано</div>
            </div>
        </div>

        <div class="first__video" data-aos="fade-in" data-aos-delay="100">
            <div class="first__video_content">
                <div class="first__video_subtitle mb-3">Смотрите полный видео-обзор устройства</div>
                <div class="first__video_title mb-5">Onlooker M84 PRO 4g</div>
                <div class="first__video_action">
                    <div class="first__video_price">
                        <div class="price__new me-3">17 990 ₽</div>
                        <div class="price__old me-3">24 890₽</div>
                        <div class="price__subtitle">До 22 августа 2022 года</div>
                    </div>
                    <div class="first__video_button">
                        <button class="main-btn mt-4 js-modal-open" data-modal-btn="checkout">Заказать видеорегистратор</button>
                    </div>
                </div>
            </div>
            <div class="first__video_preview">
                <button data-fancybox data-src="https://youtu.be/r6Ocw-Su3Qc" class="first__video_preview_link">
                    <span class="first__video_preview_subtitle">Видео-обзор</span>
                    <span class="first__video_preview_title">Onlooker M84 Pro</span>
                    <span class="first__video_preview_img">
                        <picture>
                            <source srcset="assets/img/video/2.webp" type="image/webp">
                            <img class="first__video_preview_item lazyload" loading="lazy" data-src="assets/img/video/2.png" alt="images">
                        </picture>
                        <span class="first__video_preview_block">
                            <img class="first__video_preview_icon lazyload" data-src="assets/img/icons/play-white.svg" alt="images">
                        </span>
                    </span>
                </button>
            </div>
        </div>

    </div>

</section>