<!-- 2 first -->
<section id="section_2" class="second section">
    <div class="container">
        <div class="main-title main-title__notcase" data-aos="fade-in" data-aos-delay="100">
            <span>Уникальный комбо-девайс 5в1</span>
        </div>
        <div class="second__heading">
            <div class="main-subtitle__big" data-aos="fade-in" data-aos-delay="100">
                Окупаемость за <span class="main-color">несколько месяцев!</span>
            </div>
        </div>
        <div class="second__content">
            <div class="second__advantages" data-aos="fade-in" data-aos-delay="100">
                <div class="card-advantages" data-aos="fade-in" data-aos-delay="100">
                    <div class="card-advantages__column">
                        <div class="card-advantages__number">1</div>
                        <div class="icon-card__icon">
                            <img class="icon-card__icon_img lazyload" data-src="assets/img/icons/gps.svg" alt="images">
                        </div>
                    </div>
                    <div class="card-advantages__content">
                        <div class="card-advantages__text">
                            GPS информатор выводит координаты точки контроля, разрешенную скорость, радаре и доп. видах контроля
                        </div>
                    </div>
                </div>
                <div class="card-advantages" data-aos="fade-in" data-aos-delay="100">
                    <div class="card-advantages__column">
                        <div class="card-advantages__number">2</div>
                        <div class="icon-card__icon">
                            <img class="icon-card__icon_img lazyload" data-src="assets/img/icons/004-speed-camera.svg" alt="images">
                        </div>
                    </div>
                    <div class="card-advantages__content">
                        <div class="card-advantages__text">
                            Радар-детектер с корейской технологией принимает сигналы дорожных радаров всех типов и диапазонов
                        </div>
                    </div>
                </div>
                <div class="card-advantages" data-aos="fade-in" data-aos-delay="100">
                    <div class="card-advantages__column">
                        <div class="card-advantages__number">3</div>
                        <div class="icon-card__icon">
                            <img class="icon-card__icon_img lazyload" data-src="assets/img/icons/360-degree-green.svg" alt="images">
                        </div>
                    </div>
                    <div class="card-advantages__content">
                        <div class="card-advantages__text">
                            Видеорегистратор с углом обзора 170° фиксирует в кадре 6 полос и даже обочину
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-image">
                <div data-type="iframe">
                    <div class="iframe-container">
                      <iframe class="iframe" data-src="assets/img/section-2/camera.svg" allowfullscreen="" frameborder="0" scrolling="no" aria-label="360 Image Viewer" role="presentation"></iframe>
                    </div>
                </div>
            </div>
            <div class="second__advantages second__advantages__end " data-aos="fade-in" data-aos-delay="100">
                <div class="card-advantages" data-aos="fade-in" data-aos-delay="100">
                    <div class="card-advantages__column">
                        <div class="card-advantages__number">4</div>
                        <div class="icon-card__icon">
                            <img class="icon-card__icon_img lazyload" data-src="assets/img/icons/satellite.svg" alt="images">
                        </div>
                    </div>
                    <div class="card-advantages__content">
                        <div class="card-advantages__text">
                            GPS трекер записывает маршрут следования по карте, показывает местоположение и скорость для просмотра на ПК
                        </div>
                    </div>
                </div>
                <div class="card-advantages" data-aos="fade-in" data-aos-delay="100">
                    <div class="card-advantages__column">
                        <div class="card-advantages__number">5</div>
                        <div class="icon-card__icon">
                            <img class="icon-card__icon_img lazyload" data-src="assets/img/icons/fighting.svg" alt="images">
                        </div>
                    </div>
                    <div class="card-advantages__content">
                        <div class="card-advantages__text">
                            Охрана на парковке включает запись видео при ударе машины, поможет доказать страховой невиновность
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
