<!-- Footer -->
<footer class="footer">
    <div class="footer__bg_top">
        <div class="container">
            <div class="footer__row_top">
                <div class="footer__block">
                    <a href="#" class="footer__logo">
                        <img class="footer__logo_img lazyload" data-src="assets/img/logo.svg" alt="images">
                    </a>
                    <div class="footer__logo_text icon-card__text">Официальный интернет-магазин<br> видеорегистраторов Onlooker</div>
                    <div class="footer__icons">
                        <a href="https://vk.com/onlooker_official" target="_blank" class="footer__icon">
                            <img class="footer__icon-1 lazyload" data-src="assets/img/icons/vk.svg" alt="images">
                        </a>
                        <a href="https://www.youtube.com/channel/UCB0dCwZ2L-NfgVTbynokRKw" target="_blank" class="footer__icon">
                            <img class="footer__icon-2 lazyload" data-src="assets/img/icons/youtube.svg" alt="images">
                        </a>
                        <a href="https://dzen.ru/onlooker_official" target="_blank" class="footer__icon">
                            <img class="footer__icon-3 lazyload" data-src="assets/img/icons/dzen.svg" alt="images">
                        </a>
                        <a href="tel:+78006008619" class="footer__icon">
                            <img class="footer__icon-4 lazyload" data-src="assets/img/icons/phone.svg" alt="images">
                        </a>
                    </div>
                </div>
                <div class="footer__block_a">
                    <div class="footer__heading">Главный офис:</div>
                    <div class="icon-card__text-fs14">160028, город Вологда, ул. Возрождения,
                        дом 82А, оф.160</div>
                </div>
                <div class="footer__block_a">
                    <div class="footer__heading">Телефон:</div>
                    <div class="footer__contact icon-card__text-fs14">
                        Отдел продаж:
                        <p class="footer__contact_span icon-card__title-white">8 (800) 600-86-19</p>
                    </div>
                    <div class="footer__contact icon-card__text-fs14">
                        Приём звоноков: <span class="icon-card__title">пн-пт 9:30-17:30</span>
                    </div>
                    <button class="footer__contact-btn main-btn-white">Заказать звонок</button>
                </div>
                <div class="footer__block_a">
                    <div class="footer__heading">E-mail:</div>
                    <div class="footer__contact_br icon-card__text-fs14 footer-contact-order-1">
                        Тех.поддержка: <a href="mailto:support@on-looker.ru" class="main-color">support@on-looker.ru</a>
                    </div>
                    <div class="footer__contact icon-card__text-fs14 footer-contact-order-3">
                        Обработка заявок: <span class="icon-card__title">пн-пт 9:30-17:30</span>
                    </div>
                    <div class="footer__contact_br icon-card__text-fs14 footer-contact-order-2">
                        Другие вопросы: <a href="mailto:info@on-looker.ru" class="main-color">info@on-looker.ru</a>
                    </div>
                </div>
                <div class="footer__block_b">
                    <div class="footer__heading">Реквизиты:</div>
                    <div class="footer__legal">
                        <div class="footer__legal-details icon-card__text-fs14">ИП Плосков Илья Васильевич</div>
                        <div class="footer__legal-details icon-card__text-fs14">ИНН: 351100903336</div>
                        <div class="footer__legal-details icon-card__text-fs14">ОГРНИП: 320352500025015</div>
                    </div>
                    <div class="footer__legal icon-card__text-fs14">
                        Юр.адрес: 160028, город Вологда, ул. Возрождения, дом 82А, кв.16
                    </div>
                </div>
                <div class="footer__icons-mobile">
                    <a href="#" class="footer__icon">
                        <img class="footer__icon-1 lazyload" data-src="assets/img/icons/vk.svg" alt="images">
                    </a>
                    <a href="#" class="footer__icon">
                        <img class="footer__icon-2 lazyload" data-src="assets/img/icons/youtube.svg" alt="images">
                    </a>
                    <a href="#" class="footer__icon">
                        <img class="footer__icon-3 lazyload" data-src="assets/img/icons/dzen.svg" alt="images">
                    </a>
                    <a href="#" class="footer__icon">
                        <img class="footer__icon-4 lazyload" data-src="assets/img/icons/phone.svg" alt="images">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bg_bottom">
        <div class="container">
            <div class="footer__row_bottom">
                <div class="footer__bottom-left">
                    © 2022 «Onlooker» является зарегистрированным торговым знаком. Все права защищены. Копирование сайта или его элементов запрещено.
                </div>
                <div class="footer__bottom-right">
                    <a href="politika.html" class="footer__policy">Политика конфиденциальности</a>
                    <a href="offerta.html" class="footer__policy">Публичная оферта</a>
                    <a href="soglasie.html" class="footer__policy">Согласие на обработку персональных данных</a>
                </div>
            </div>
        </div>
    </div>
</footer>