<!-- Header -->
<header class="header">
    <div class="container-fluid">
        <div class="header__block">
            <a href="#" data-goto-top="100" data-goto=".first" class="header__logo">
                <img class="header__logo_img lazyload" data-src="assets/img/logo.svg" alt="images">
                <span class="header__logo_text">Видеорегистратор- <br> автопланшет</span>
            </a>
            <nav class="header__sidebar">
                <a href="tel:88006008619" class="header__sidebar_btn main-btn-white">Заказать звонок</a>
                <button class="header__sidebar_menu">
                    <div class="hamburger hamburger--elastic js-hamburger">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </button>
            </nav>
        </div>
    </div>
</header>