<!-- MODALS ----------------------------------->
<!-- Badge -->
<div class="watch-video">
    <button class="watch-video__close"><span>+</span></button>
    <div class="watch-video__title">Смотрите <span class="main-color">видео-обзор</span></div>
    <button class="watch-video__img">
        <picture>
            <source srcset="assets/img/video/1.webp" type="image/webp">
            <img loading="lazy" class="lazyload" data-src="assets/img/video/1.png" alt="images">
        </picture>
    </button>
    <button class="watch-video__btn">Спасибо, уже видел</button>
</div>

<!-- modal-declaration-ru-1 (section 29)-->
<div data-modal-content="modal-declaration-ru-1" class="modal-declaration js-modal-content wrapper-modal">
    <div class="modal-declaration__overlay overlay"></div>
    <div class="modal-declaration__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-declaration__body">
            <img loading="lazy" class="modal-declaration__bg-img lazyload" data-src="assets/img/section-29/1-rus.jpeg" alt="images">
        </div>
    </div>
</div>

<!-- modal-declaration-ru-2 (section 29)-->
<div data-modal-content="modal-declaration-ru-2" class="modal-declaration js-modal-content wrapper-modal">
    <div class="modal-declaration__overlay overlay"></div>
    <div class="modal-declaration__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-declaration__body">
            <img loading="lazy" class="modal-declaration__bg-img lazyload" data-src="assets/img/section-29/2-rus.jpeg" alt="images">
        </div>
    </div>
</div>

<!-- modal-declaration-eng (section 29)-->
<div data-modal-content="modal-declaration-eng" class="modal-declaration js-modal-content wrapper-modal">
    <div class="modal-declaration__overlay overlay"></div>
    <div class="modal-declaration__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-declaration__body">
            <img loading="lazy" class="modal-declaration__bg-img lazyload" data-src="assets/img/section-29/3-eng.jpeg" alt="images">
        </div>
    </div>
</div>

<!-- modal-connection -->
<div data-modal-content="modal-1" class="modal-connection js-modal-content wrapper-modal">
    <div class="modal-connection__overlay overlay"></div>
    <div class="modal-connection__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-connection__bg">
            <picture>
                <source srcset="assets/img/modals/connection/1.webp" type="image/webp">
                <img loading="lazy" class="modal-connection__bg-img lazyload" data-src="assets/img/modals/connection/1.png" alt="images">
            </picture>
        </div>
        <div class="modal-connection__body">
            <div class="modal-connection__title price__new">Получите видео инструкцию по подключению задней камеры</div>
            <div class="modal-connection__text main-title__card-radius__text">Выберите куда прислать ссылку на видео:</div>
            <form action="#" class="modal-connection__form ">
                <div class="modal-connection__btn-body">
                    <label>
                        <input type="radio" name="messenger">
                        <div class="modal-connection__btns card-item__block">
                            <img class="modal-connection__btns-img card-item__block-img lazyload" data-src="assets/img/icons/whatsapp.svg" alt="images">
                            <span class="icon-card__text-fs14">WhatsApp</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="messenger">
                        <div class="modal-connection__btns card-item__block">
                            <img class="modal-connection__btns-img card-item__block-img lazyload" data-src="assets/img/icons/telegram.svg" alt="images">
                            <span class="icon-card__text-fs14">Telegram</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="messenger">
                        <div class="modal-connection__btns card-item__block">
                            <img class="modal-connection__btns-img card-item__block-img lazyload" data-src="assets/img/icons/sms.svg" alt="images">
                            <span class="icon-card__text-fs14">SMS</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="messenger">
                        <div class="modal-connection__btns card-item__block">
                            <img class="modal-connection__btns-img card-item__block-img lazyload" data-src="assets/img/icons/viber.svg" alt="images">
                            <span class="icon-card__text-fs14">Viber</span>
                        </div>
                    </label>
                </div>
                <input class="tel modal-connection__input " type="text" placeholder="Ваш телефон">
                <div class="modal-connection__form-body">
                    <div class="modal-connection__form-text icon-card__text">Нажимая на кнопку, вы даете согласие на обработку персональных данных</div>
                    <button type="submit" class="main-btn">Получить консультацию</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal-detailed -->
<div data-modal-content="modal-2" class="modal-detailed js-modal-content wrapper-modal">
    <div class="modal-detailed__overlay overlay"></div>
    <div class="modal-detailed__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-detailed__title main-subtitle__big"><b>Подробнее о комплекте Onlooker M84 Pro 4G с базовой задней камерой</b></div>
        <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
        <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
        <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
        <div class="modal-detailed__checked">
            <div class="checked-item">
                <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
            </div>
            <div class="checked-item">
                <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                <div class="icon-card__text">Буклет с полезными приложениями.</div>
            </div>
            <div class="checked-item">
                <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
            </div>
        </div>
        <div class="modal-detailed__btns">
            <button type="button" class="modal-detailed__btn-one main-btn-gradient js-btn-close"><span class="main-btn-gradient__bg"></span><span class="main-btn-gradient__text">Закрыть</span></button>
            <button type="submit" class="modal-detailed__btn-two main-btn">Добавить к заказу</button>
        </div>
    </div>
</div>

<!-- skidka -->
<div data-modal-content="modal-skidka" class="modal-detailed js-modal-content wrapper-modal">
    <div class="modal-detailed__overlay overlay"></div>
    <div class="modal-detailed__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-detailed__title main-subtitle__big"><b>Подробнее об акции "Скидка 3%"</b></div>
        <div class="modal-detailed__subtitle-two icon-card__title">Условия акции:</div>
        <div class="modal-detailed__checked">
            <div class="checked-item">
                <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                <div class="icon-card__text">Добавьте в заказ к Onlooker M84 Pro 4G с задней камерой (любой) ещё три любых три аксессуара.</div>
            </div>
            <div class="checked-item">
                <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                <div class="icon-card__text">Пропишите в комментарии к заказу "Скидка 3%"</div>
            </div>
            <div class="checked-item">
                <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                <div class="icon-card__text">Менеджер, при формировании отправки посылки, скорректирует заказ, и сделает персональную скидку 3%. При оплате заказа курьеру или на пункте выдачи стоимость будет снижена на 3%.</div>
            </div>
        </div>
        <div class="modal-detailed__btns">
            <button type="button" class="modal-detailed__btn-one main-btn-gradient js-btn-close"><span class="main-btn-gradient__bg"></span><span class="main-btn-gradient__text">Закрыть</span></button>
        </div>
    </div>
</div>

<!-- modal-detailed -->
<div data-modal-content="modal-garantia" class="modal-detailed js-modal-content wrapper-modal">
    <div class="modal-detailed__overlay overlay"></div>
    <div class="modal-detailed__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-detailed__title main-subtitle__big"><b>Подробнее об акции "Расширенная гарантия"</b></div>
        <div class="modal-detailed__text-about icon-card__text">При заказе версии M84 Pro 4G с задней камерой + 3 аксессуара - увеличиваем гарантию на 6 месяцев, прописываем "18 месяцев" в гарантийном талоне на товар.</div>
        <div class="modal-detailed__btns">
            <button type="button" class="modal-detailed__btn-one main-btn-gradient js-btn-close"><span class="main-btn-gradient__bg"></span><span class="main-btn-gradient__text">Закрыть</span></button>
        </div>
    </div>
</div>

<!-- modal-detailed -->
<div data-modal-content="modal-cartrider" class="modal-detailed js-modal-content wrapper-modal">
    <div class="modal-detailed__overlay overlay"></div>
    <div class="modal-detailed__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-detailed__title main-subtitle__big"><b>Подробнее об акции "Картридер в подарок"</b></div>
        <div class="modal-detailed__text-about icon-card__text">Дарим картридер для карты памяти в подарок, при покупке карты памяти в нашем магазине!</div>
        <div class="modal-detailed__btns">
            <button type="button" class="modal-detailed__btn-one main-btn-gradient js-btn-close"><span class="main-btn-gradient__bg"></span><span class="main-btn-gradient__text">Закрыть</span></button>
        </div>
    </div>
</div>

<!-- modal-detailed -->
<div data-modal-content="modal-promocode" class="modal-detailed js-modal-content wrapper-modal">
    <div class="modal-detailed__overlay overlay"></div>
    <div class="modal-detailed__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-detailed__title main-subtitle__big"><b>Подробнее об акции "Промокод"</b></div>
        <div class="modal-detailed__text-about icon-card__text">Дарим Вам промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
        <div class="modal-detailed__subtitle-two icon-card__title">Если покупать лицензию самостоятельно, стоимость промокода составит 300 руб.</div>
        <div class="modal-detailed__btns mt-5">
            <button type="button" class="modal-detailed__btn-one main-btn-gradient js-btn-close"><span class="main-btn-gradient__bg"></span><span class="main-btn-gradient__text">Закрыть</span></button>
        </div>
    </div>
</div>

<!-- Modal (checkout-one page) - More detailed about product -->
<div data-modal-content="modal-onlooker" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Onlooker M84 Pro 4G</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/offer-page/onlooker-check.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/offer-page/onlooker-check.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (section 13)- More detailed about product - modal-camera-lighing-1 -->
<div data-modal-content="modal-camera-lighing-1" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Адаптер для скрытого подключения</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/section-13/2-modal.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/section-13/2-modal.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (section 13)- More detailed about product - modal-camera-lighing-2 -->
<div data-modal-content="modal-camera-lighing-2" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Адаптер для скрытого подключения</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/section-13/3-modal.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/section-13/3-modal.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (section 25) - More detailed about product -  -->
<div data-modal-content="modal-camera-rear" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Стандартная задняя камера</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/section-25/detailed-modal/1.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/section-25/detailed-modal/1.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (section 25) - More detailed about product -  -->
<div data-modal-content="modal-backlit-camera" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Задняя камера ver 2.0 с ИК подсветкой</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/section-25/detailed-modal/2.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/section-25/detailed-modal/2.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (section 25) - More detailed about product -  -->
<div data-modal-content="modal-stand-camera" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Подставка для крепления на панели</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/section-25/detailed-modal/3.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/section-25/detailed-modal/3.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (section 25) - More detailed about product -  -->
<div data-modal-content="modal-adapter" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Адаптер для скрытого подключения</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/section-25/detailed-modal/4.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/section-25/detailed-modal/4.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (section 25) - More detailed about product -  -->
<div data-modal-content="modal-memory-card" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Карты памяти</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/section-25/detailed-modal/5.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/section-25/detailed-modal/5.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (section 25) - More detailed about product -  -->
<div data-modal-content="modal-extension-cable" class="modal-product js-modal-content wrapper-modal">
    <div class="modal-product__overlay overlay"></div>
    <div class="modal-product__content content">
        <button type="button" class="btn-close">
            <div class="btn-close__btn"></div>
        </button>
        <div class="modal-product__title main-subtitle__big"><b>Удлинитель для задней камеры</b></div>
        <div class="modal-product__body">
            <div class="modal-product__picture">
                <picture>
                    <source srcset="assets/img/section-25/detailed-modal/6.webp" type="image/webp">
                    <img loading="lazy" class="modal-product__img lazyload" data-src="assets/img/section-25/detailed-modal/6.png" alt="images">
                </picture>
            </div>
            <div class="modal-product__about">
                <div class="modal-product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium incidunt earum voluptatibus hic, laborum, sapiente exercitationem veniam, eligendi nulla dolor ullam ratione rem totam temporibus culpa esse.</div>
                <div class="modal-detailed__subtitle icon-card__title">Комплект поставки:</div>
                <div class="modal-detailed__text-about icon-card__text">Onlooker M84 Pro с 32GB встроенной памяти, базовая задняя камера, кабель 6 метров для задней камеры, крепление на лобовое стекло, зарядное устройство в прикуриватель, GPS модуль, инструкция, гарантийный талон.</div>
                <div class="modal-detailed__subtitle-two icon-card__title">Гарантированные фирменные подарки:</div>
                <div class="modal-detailed__checked">
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Промокод для приложения радар-детектора (бессрочная лицензия на 5 устройств).</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Буклет с полезными приложениями.</div>
                    </div>
                    <div class="checked-item">
                        <img class="checked-item_img lazyload" data-src="assets/img/icons/positive.svg" alt="images">
                        <div class="icon-card__text">Специальный аксессуар для безопасной установки/извлечения СИМ-карты/карты памяти и для RESET перезагрузки устройства.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__footer">
            <div class="modal-product__btns">
                <div class="modal-product__price">
                    <div class="modal-product__price-old price__old">17 990₽ </div>
                    <div class="modal-product__price-new price__new">24 890₽</div>
                </div>
                <button type="submit" class="modal-product__btn main-btn">Добавить к заказу</button>
            </div>
            <div class="modal-product__detailed">
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/cabel.svg" alt="images">
                    <div class="modal-product__detailed_text-1 icon-card__text">Длина кабеля 3,5м</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected.svg" alt="images">
                    <div class="modal-product__detailed_text-2 icon-card__text">Защита от перегрузок, устройства и разряда АКБ</div>
                </div>
                <div class="modal-product__detailed_item">
                    <img class="modal-product__detailed_icon lazyload" data-src="assets/img/icons/protected-volt.svg" alt="images">
                    <div class="modal-product__detailed_text-3 icon-card__text">Защита от перенапряжения и снижения напряжения</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cursor"></div>